IF DB_ID('TechSupport') IS NOT NULL
	DROP DATABASE TechSupport

CREATE DATABASE TechSupport
GO

USE [TechSupport]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/5/2016 12:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1000,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [varchar](9) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 8/5/2016 12:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[IncidentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductCode] [char](10) NOT NULL,
	[TechID] [int] NULL,
	[DateOpened] [datetime] NOT NULL,
	[DateClosed] [datetime] NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [varchar](2000) NOT NULL,
 CONSTRAINT [PK_Incidents] PRIMARY KEY CLUSTERED 
(
	[IncidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/5/2016 12:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [char](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Version] [decimal](18, 1) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 8/5/2016 12:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[CustomerID] [int] NOT NULL,
	[ProductCode] [char](10) NOT NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Registrations] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 8/5/2016 12:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [varchar](20) NOT NULL,
	[FirstZipCode] [int] NOT NULL,
	[LastZipCode] [int] NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 8/5/2016 12:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[TechID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Technicians] PRIMARY KEY CLUSTERED 
(
	[TechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode], [Phone], [Email]) VALUES (1002, N'Ania Irvin', N'PO Box 96621', N'Washington', N'DC', N'20090', N'(301) 555-8950', N'ania@mma.nidc.com')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode], [Phone], [Email]) VALUES (1004, N'Kenzie Quinn', N'1990 Westwood Blvd Ste 260', N'Los Angeles', N'CA', N'90025', N'(800) 555-8725', N'kenzie@mma.jobtrak.com')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode], [Phone], [Email]) VALUES (1006, N'Anton Mauro', N'3255 Ramos Cir', N'Sacramento', N'CA', N'95827', N'(916) 555-6670', N'amauro@mma.ccc.org')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Incidents] ON 

INSERT [dbo].[Incidents] ([IncidentID], [CustomerID], [ProductCode], [TechID], [DateOpened], [DateClosed], [Title], [Description]) VALUES (27, 1010, N'LEAG10    ', 11, CAST(N'2016-06-05 00:00:00.000' AS DateTime), CAST(N'2016-06-06 00:00:00.000' AS DateTime), N'Could not install', N'Media appears to be bad.')
INSERT [dbo].[Incidents] ([IncidentID], [CustomerID], [ProductCode], [TechID], [DateOpened], [DateClosed], [Title], [Description]) VALUES (28, 1117, N'TRNY20    ', 11, CAST(N'2016-06-14 00:00:00.000' AS DateTime), NULL, N'Error importing data', N'Received error message 415 while trying to import data from previous version.')
INSERT [dbo].[Incidents] ([IncidentID], [CustomerID], [ProductCode], [TechID], [DateOpened], [DateClosed], [Title], [Description]) VALUES (29, 1116, N'DRAFT10   ', 13, CAST(N'2016-06-20 00:00:00.000' AS DateTime), NULL, N'Could not install', N'Setup failed with code 104.')
SET IDENTITY_INSERT [dbo].[Incidents] OFF
INSERT [dbo].[Products] ([ProductCode], [Name], [Version], [ReleaseDate]) VALUES (N'DRAFT10   ', N'Draft Manager 1.0', CAST(1.0 AS Decimal(18, 1)), CAST(N'2014-02-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Products] ([ProductCode], [Name], [Version], [ReleaseDate]) VALUES (N'DRAFT20   ', N'Draft Manager 2.0', CAST(2.0 AS Decimal(18, 1)), CAST(N'2016-07-15 00:00:00.000' AS DateTime))
INSERT [dbo].[Products] ([ProductCode], [Name], [Version], [ReleaseDate]) VALUES (N'LEAG10    ', N'League Scheduler 1.0', CAST(1.0 AS Decimal(18, 1)), CAST(N'2013-05-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Registrations] ([CustomerID], [ProductCode], [RegistrationDate]) VALUES (1002, N'LEAG10    ', CAST(N'2014-11-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Registrations] ([CustomerID], [ProductCode], [RegistrationDate]) VALUES (1004, N'DRAFT10   ', CAST(N'2015-01-11 00:00:00.000' AS DateTime))
INSERT [dbo].[Registrations] ([CustomerID], [ProductCode], [RegistrationDate]) VALUES (1004, N'LEAG10    ', CAST(N'2013-09-19 00:00:00.000' AS DateTime))
INSERT [dbo].[States] ([StateCode], [StateName], [FirstZipCode], [LastZipCode]) VALUES (N'AK', N'Alaska', 99500, 99999)
INSERT [dbo].[States] ([StateCode], [StateName], [FirstZipCode], [LastZipCode]) VALUES (N'AL', N'Alabama', 35000, 36999)
INSERT [dbo].[States] ([StateCode], [StateName], [FirstZipCode], [LastZipCode]) VALUES (N'AR', N'Arkansas', 71600, 72999)
SET IDENTITY_INSERT [dbo].[Technicians] ON 

INSERT [dbo].[Technicians] ([TechID], [Name], [Email], [Phone]) VALUES (11, N'Alison Diaz ', N'alison@sportsprosoftware.com', N'800-555-0443')
INSERT [dbo].[Technicians] ([TechID], [Name], [Email], [Phone]) VALUES (12, N'Jason Lee', N'jason@sportsprosoftware.com', N'800-555-0444')
INSERT [dbo].[Technicians] ([TechID], [Name], [Email], [Phone]) VALUES (13, N'Andrew Wilson', N'awilson@sportsprosoftware.com', N'800-555-0449')
SET IDENTITY_INSERT [dbo].[Technicians] OFF
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_States_Customers] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_States_Customers]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Customers]
GO
ALTER TABLE [dbo].[Incidents]  WITH NOCHECK ADD  CONSTRAINT [FK_Incidents_Products] FOREIGN KEY([ProductCode])
REFERENCES [dbo].[Products] ([ProductCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Products]
GO
ALTER TABLE [dbo].[Incidents]  WITH NOCHECK ADD  CONSTRAINT [FK_Incidents_Technicians] FOREIGN KEY([TechID])
REFERENCES [dbo].[Technicians] ([TechID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Technicians]
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK_Registrations_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registrations_Customers]
GO
ALTER TABLE [dbo].[Registrations]  WITH NOCHECK ADD  CONSTRAINT [FK_Registrations_Products] FOREIGN KEY([ProductCode])
REFERENCES [dbo].[Products] ([ProductCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registrations_Products]
GO
